// pink
$pink: rgb(184, 63, 83);
// blue
$blue: blue;
// grey
$grey: grey;
// white
$white: white;

// header section

$color_nav_bg: rgb(255, 255, 255);

$color_logo: rgb(12, 157, 235);

$color_menu_bg: rgb(24, 51, 109);

$color_h1_title: rgb(0, 123, 238);

$color_a_hover: rgb(85, 76, 76);

$color_a_hover_bg: rgba(0, 0, 255, 0);

// hero section

$color_hero_bg: linear-gradient(to left, white, rgb(192, 217, 255), white);

$color_span_title: rgb(85, 76, 76);

// content section

$color_content_bg: white;

$color_content: $pink;
