@import "color";
div.hero {
  background: $color_hero_bg;
  flex-direction: column;
  text-align: center;
  padding-top: 10%;
  display: flex;
  height: 60vh;
  margin: auto;

  h1.title {
    color: $color_h1_title;
    font-size: 2.8rem;
  }
  span.title {
    color: $color_span_title;
    font-size: 1.2rem;
  }
  .btn {
    background: rgb(51, 108, 189);
    border-radius: 50%;
    font-size: 1.2rem;
    border: 0px solid;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin: auto;
    width: 15vw;
    height: 5vh;
  }
  .btn:hover {
    color: green;
    background: honeydew;
  }
}
